---
import { Image } from 'astro:assets';
import { Tabs, TabItem } from '@astrojs/starlight/components';

const {
    content,
    srcUrl,
    alt
} = Astro.props
---

<div class="sl-flex border">
    <span>
        {content}
    </span>
    <Image 
        src={srcUrl}
        alt={alt}
        class="imgSize"
        />
</div>

<style>

    .border{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 0.5rem;
        border-radius: 0.5rem;
        padding: 2rem;
        position: relative;
    }

    
</style>