---
import { Image } from "astro:assets";
import lastbibleImage from '/src/assets/landing/lastbible.jpg';
---

<div class="not-content">
    <Image
        src={lastbibleImage},
        alt="",
        />
</div>