---
import { Image } from 'astro:assets';

const {
    title,
    imagePath,
    alt = 'Background Image', 
    ...attributes
  } = Astro.props;

---

<div class="hero">
    <Image
     src={imagePath},
     alt={alt},
     class="background"
    />
    <div class="content">
	    <h1>{title}</h1>
        <h3>
          <slot />
        </h3>
    </div>
</div>

<style>

    .hero {
        width: 100%;
        height: 10%;
        position: relative;
        overflow: hidden;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        z-index: -1;
        opacity: 0.4; /* Adjust for visibility */
        object-fit: cover;
    }

    h1 {
        color: var(--sl-color-white);
        font-weight: 600;
        z-index: 1;
        text-align: center;
    }

    h3{
      color: var(--sl-color-white);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.9); 
    }
</style>