/* Dark mode colors. */
:root {
	--sl-color-accent-low: #181b1e;
	--sl-color-accent: #466e90;
	--sl-color-accent-high: #bccbd7;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ebedf9;
	--sl-color-gray-2: #c6c7d6;
	--sl-color-gray-3: #9fa1bf;
	--sl-color-gray-4: #545670;
	--sl-color-gray-5: #2a5373;
	--sl-color-gray-6: #292a32;
	--sl-color-black: #141518;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ced8e2;
	--sl-color-accent: #2c77b5;
	--sl-color-accent-high: #233443;
	--sl-color-white: #161722;
	--sl-color-gray-1: #23243b;
	--sl-color-gray-2: #02062b;
	--sl-color-gray-3: #545670;
	--sl-color-gray-4: #8689a6;
	--sl-color-gray-5: #04125c;
	--sl-color-gray-6: #ebedf9;
	--sl-color-gray-7: #f0f1f4;
	--sl-color-black: #cdcfdddd;
}



.background-container {
	background-color: black;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	position: absolute;
	top: 0;
  }

  .text-container {
	flex: 1;
	padding: 2rem;
	box-sizing: border-box;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	text-align: center;
	font-size: 1.8rem;
	margin: 0;
	backdrop-filter: blur(2px);
  }

  .parallax-section {
	width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

  .marathon-image{
	width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
	height: 100vh;
	opacity: 0.6;
  }

  .text-container-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	text-align: center;
	padding: 0 1rem;
  }

  .image-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 1rem;
	width: 100%;
	max-width: 600px;
  }

  @media (max-width: 768px) {
	.text-container {
	  max-width: 90%; /* Restrict the width */
	  font-size: 1.4rem; /* Reduce font size for readability */
	  padding: 1rem;
	}
  }

